
*{
	padding: 0px;
	margin: 0px;
}

body{

	background:url("/ProjetosChatTempoReal/img/back.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;

}

input[type='text']{
	display: block;
	width: 850px;
	font-size: 14px;
	padding: 6px;
	border: 7px solid #aaa;
	border-radius: 5px;
	outline: 0;
	color: white;
}



p{
	color: white;
	text-align: left;
	word-wrap: break-all;
	margin-top: 5px;
	font-family: arial,sans-serif;
}

b{
	cursor: pointer;
}

.enviar{

	transform: translateX(385px) translateY(-62.5px);

}

html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.content {
	flex: 1 0 auto; 

	padding: 20px;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font: 16px Sans-Serif;
}
h1 {
	margin: 0 0 20px 0;
}
p {
	margin: 0 0 20px 0;
}



.mail{
	width: 20px;
}

.regras{
	float: left;
	margin-right: 0px;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 200px;
	height: 400px;
	position: absolute;
	background-color: #90EE90;
	background-size: 100%;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb{
	background-color: #11171a;
	border-radius: 10px;
}

.form-group textarea{
	border-radius: 10px;
	position: relative;
	width: 91%;
}

.form-group textarea:focus{
	border: 0 none;
	outline: 0;
}

.form-group{
	width: 100%;
	background: rgb(79,79,79);
	padding: 10px;
	border-radius: 10px;

	transform: translateY(140%);
}

.form-group button{
	padding: 5px;
	background: white;
	border-radius: 10px;
}


.logo-sidebar{
	width: 70%;
}

.chatbox{
	min-width: 390px;
	height: 800px;
	background: white;
	padding: 20px;
	box-shadow: 0 3px #ccc;
	transform: translateY(-5%);
}

.chatlogs{
	padding: 10px;
	width: 100%;
	height: 650px;
	background: #eee;
	overflow-x: hidden;
	overflow-y: scroll; 

}

.chatlogs::-webkit-scrollbar{
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}

.texto{
	resize: none;
}

.texto:focus{
	background: #fff;
}

.chat-form{
	margin-top: 0px;
	display: flex;
	align-items: flex-start;
}

#sidebar ul p img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


