.wrapper{
	display: flex;
	width: 100%;
	align-items: stretch;

}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: black;
	color: #fff;
	transition: all 0.3s;

}



#sidebar ul p{
	padding: 0px 0px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: black;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}

#sidebar ul li.active>a,a[aria-expanded="true"]{
	color: #fff;
	background: rgb(128,128,128);
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle:after{
	display: block;
	position: absolute;
	top: 60%;
	right: 20px;
	transform: translateX(-50%);
}

ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: rgb(54,54,54);
	color: white;
	text-decoration: none;

}

ul.CTAs{
	padding: 20px;
}

ul.CTAs a{
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.suporte{
	background: black;
	color: #7386D5;

}

a.article, a.article:hover{
	background: #6d7fcc !important;
	color: #fff !important; 
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

@media(max-width: 760px){
	#sidebar{
		margin-left: -250px;
	}

	#sidebar.active{
		margin-left: 0px;
	}

	#sidebarCollapse span{
		display: none;
	}
}